{% assign collections_per_row = settings.frontpage_collections_per_row %}

{% if settings.slideshow_collection_enabled %}
  <div id="slide-collection">
    <div class="bcg"
        data-bottom-top="background-position: 50% 200px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-collection">
          <div class="hsContainer">
            <div class="hsContent center">
              {% if settings.display_collection_header_title %}
                <div>
                  <h1 class="headline" style="color:{{settings.banner_color}}">{{ 'collections.general.title' | t }}</h1>
                </div>
              {% endif %}
            </div>
          </div>
    </div>
  </div>
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container">
{% else %}
  <div class="sixteen columns">
    <h1 class="center">{{ 'collections.general.title' | t }}</h1>
    <div class="feature_divider"></div>
  </div>
{% endif %}


{% capture new_row %}
    <br class="clear product_clear" />
{% endcapture %}

{% if settings.collection_sidebar %}
  {% include 'sidebar' %}
  <div class="twelve columns">
{% else %}
  <div class="sixteen columns">
{% endif %}

{% for collection in collections %}

  {% unless collection.handle == 'frontpage' %}
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
    {% if settings.collection_sidebar %}
      <div class="{% if collections_per_row == "2" %}six columns {% cycle 'alpha', 'omega' %}{% elsif collections_per_row == "3" %}four columns {% cycle 'alpha', '', 'omega' %}{% else %}three columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle 'even', 'odd' %}">
    {% else %}
      <div class="{% if collections_per_row == "2" %}eight columns {% cycle 'alpha', 'omega' %}{% elsif collections_per_row == "3" %}one-third column {% cycle 'alpha', '', 'omega' %}{% else %}four columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle 'even', 'odd' %}">
    {% endif %}

    <a href="{{ collection.url }}" title="{{ collection_title }}">
      {% if collection.image %}
        <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ collection.image.src | collection_img_url: 'grande' }}" data-src-retina="{{ collection.image.src | collection_img_url: '1024x1024' }}" alt="{{ collection.image.alt }}" />
      {% else %}
        <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ collection.products.first.featured_image | product_img_url: 'grande' }}" data-src-retina="{{ collection.products.first.featured_image | product_img_url: '1024x1024' }}" alt="{{ collection.title | escape }}" />
      {% endif %}
      
        <div class="info">                                              
          <span class="title">{{ collection.title }}</span>
        </div>
      </a>
    </div>
  
    {% if collections_per_row == "2" %}
      {% cycle '', new_row %}
    {% elsif collections_per_row == "3" %}
      {% cycle '', '', new_row %}    
    {% elsif collections_per_row == "4" %}  
      {% cycle '', '', '', new_row %}
    {% endif %}  
  {% endunless %}  
{% endfor %}

</div>

    