  <div class="sidebar four columns">
    <div class="sidebar_content">
   {% comment %}   <h4>{{ pages.about-us.title }}</h4> {% endcomment %}
      {{ pages.sidebar.content }}
      
      
      <hr />
<h4>{{ pages.the-ride.title }}</h4>      
{{ pages.the-ride.content }}
        
</div>
</div>