{% if 1==2 %}

{% else %}
<!--Weglot Script-->
<script type="text/javascript" src="https://weglot.com/api/weglot_shopify.js" defer></script>
<script type="text/javascript" src="https://shopify.weglot.com/wglib_v2.js" defer></script>

<script>
  	console.log('loaded');
	Weglot.setup({
	  api_key: "wg_da205c0876b98d0c9934c6fa1cfab61a",
	  originalLanguage: "en",
	  destinationLanguages : "da,de,es,fr,it,nl,no,sv",
	  styleOpt : { fullname : 1 , withname : 1 , is_dropdown : 1 , classF : "wg-flags flag-3 " },
	  exceptions: ".money,.price",
	 });
</script><!--End Weglot Script--><style></style>
{% endif %}