{% assign current_url_part = canonical_url | split: '://' %}
{% assign current_url_proto = current_url_part | first %}
{% assign current_url_domain = current_url_part | last %}
{% assign current_url_part = current_url_domain | split: '/' %}
{% assign current_url_first = current_url_part | first  %}
{% capture base_url %}{{ current_url_proto }}://{{ current_url_first }}{% endcapture %}
{% assign current_url = canonical_url | remove: base_url  %}
{% if 1==2 %}
{% else %}	
<link rel="alternate" hreflang="en" href="https://pactimo-custom.myshopify.com{{ current_url }}">
<link rel="alternate" hreflang="da" href="https://pactimo-custom.myshopify.com/a/l/da{{ current_url }}">
<link rel="alternate" hreflang="de" href="https://pactimo-custom.myshopify.com/a/l/de{{ current_url }}">
<link rel="alternate" hreflang="es" href="https://pactimo-custom.myshopify.com/a/l/es{{ current_url }}">
<link rel="alternate" hreflang="fr" href="https://pactimo-custom.myshopify.com/a/l/fr{{ current_url }}">
<link rel="alternate" hreflang="it" href="https://pactimo-custom.myshopify.com/a/l/it{{ current_url }}">
<link rel="alternate" hreflang="nl" href="https://pactimo-custom.myshopify.com/a/l/nl{{ current_url }}">
<link rel="alternate" hreflang="no" href="https://pactimo-custom.myshopify.com/a/l/no{{ current_url }}">
<link rel="alternate" hreflang="sv" href="https://pactimo-custom.myshopify.com/a/l/sv{{ current_url }}">
{% endif %}


<!-- Defers loading of css -->
<script type="text/javascript">
/* First CSS File */
  var giftofspeed = document.createElement('link');
  giftofspeed.id = 'font-awesome-css';
  giftofspeed.rel = 'stylesheet';
  giftofspeed.media = 'all';
  giftofspeed.href = '//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css?ver=4.5.2';
  giftofspeed.type = 'text/css';
  var godefer = document.getElementsByTagName('link')[0];
  godefer.parentNode.insertBefore(giftofspeed, godefer);

  /* Second CSS File */
  var giftofspeed2 = document.createElement('link');
  giftofspeed2.rel = 'stylesheet';
  giftofspeed2.media = 'all';
  giftofspeed2.href = 'https://shopify.weglot.com/wgcss_v2.css';
  giftofspeed2.type = 'text/css';
  var godefer2 = document.getElementsByTagName('link')[0];
  godefer2.parentNode.insertBefore(giftofspeed2, godefer2);
</script>