{% if settings.slideshow_contact_enabled %}
  <div id="slide-contact">
    <div class="bcg"
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-contact">
        <div class="hsContainer">
            <div class="hsContent center">
              <div>
                <h1 class="headline" style="color:{{settings.banner_color}}">{{ settings.image_contact_headline }}</h1>
                <p class="subtitle" style="color:{{settings.banner_color}}">{{ settings.image_contact_subtitle }}</p>
              </div>
            </div>
        </div>
    </div>
  </div>
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container">
  <br class="clear" />
{% endif %}

<div class="ten columns offset-by-three page clearfix">
  {% if settings.slideshow_contact_enabled == false %}
    <h1 class="center">{{ page.title }}</h1>
    <div class="feature_divider"></div>
  {% endif %}

  {% form 'contact' %}
    {% if form.posted_successfully? %}
      <p class="quote">{{ 'contact.form.post_success' | t }}</p>
    {% endif %}

    {% if form.errors %}
      <p class="quote">{{ 'general.forms.post_error' | t }}</p>

     {% assign message = 'contact.form.message' | t %}
      <ul class="center">
        {% for field in form.errors %}
          {% if field == 'form' %}
            <li>
              {{ form.errors.messages[field] }}
            </li>
          {% else %}
            <li>
              {% assign field_name = field | replace: 'body', message %}
              {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
            </li>
          {% endif %}
        {% endfor %}
       </ul>
    {% endif %}

    {{ page.content }}
    
     <br class="clear" />
     <div class="five columns alpha">
      {% assign name_attr = 'contact.form.name' | handle %}
      <label for="contactFormName">{{ 'contact.form.name' | t }} <span class="red">*</span></label>
      <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
     </div>
     <div class="five columns omega">
      <label for="contactFormEmail">{{ 'contact.form.email' | t }} <span class="red">*</span></label>
      <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
     </div>
     {% comment %}
      {% assign name_attr = 'contact.form.phone' | t | handle %}
      <label for="contactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
      <input type="tel" id="contactFormPhone" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
      {% endcomment %}

    <label for="contactFormMessage">{{ 'contact.form.message' | t }} <span class="red">*</span></label>
    <textarea rows="5" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>
    
  <div style="margin-top:25px; margin-bottom:30px;">
  <label for="tacos" class="login">Would you like us to send you some tacos?</label>
<input type="checkbox" value="Yes Please!" name="customer[note][Tacos?]" id="tacos" /> Yes, please.
  </div>
  
    <input type="submit" class="submit action_button add_to_cart" value="{{ 'contact.form.send' | t }}" />
  {% endform %}
</div>

  
{% if settings.contact_address != blank %}
  <br class="clear" />
  </div>
  <div class="embed-container maps">
    <iframe width="100%" height="220" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={{ settings.contact_address | replace: ' ', '+' }}&amp;z={{ settings.zoom_level }}&amp;output=embed"></iframe>
  </div>
  <div class="container" style="padding:0">
{% endif %}
