
<div class="sixteen columns">
  <h1 class="center">{{ page.title }}</h1>
  <div class="feature_divider"></div>
</div>


<div class="twelve columns page">
   <div class="section clearfix">
  {{ page.content }}
      
     <hr style="margin-top:75px;" />
     
             <h4>Stay informed</h4>
        <p>Join our newsletter mailing list and get new job notifications.</p>
        {% include 'newsletter' %}
        <hr />
</div>
</div>

{% include 'tk-sidebar' %}