<div class="twelve columns offset-by-two page clearfix">
  <p style="margin:30px;"> </p>
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>
    {{ page.content }}
  </div>
</div>