<div class="sixteen columns">
  <h1 class="center">{{ page.title }}</h1>
  <div class="feature_divider"></div>
</div>


<div class="twelve columns page">
   <div class="section clearfix">
  {{ page.content }}
</div>
</div>

{% include 'tk-sidebar' %}